body {
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-color: #343955;
}

h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: medium;
}

form label {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: lighter;
  font-size: 1.6rem;
  padding-top: 10rem
}

ul {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: left;
  list-style: none;
}

section {
  display: flex;
  justify-content: center;
}

li button {
  margin-right: 10px;
}

li input {
  margin-left: 10px;
}
